{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="utf-8">
<title>Сервіс Обліку Студентів - {% block meta_title %}{% endblock meta_title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name = "description"
      value = "Система Обліку Студентів Навчального Закаду" />

<!-- Style inclusion -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

{% block extra_css %}{% endblock extra_css %}

</head>

<body>

<!-- Start container-->
<div class = "container">

<!-- Start Header-->
<div class = "row" id = "header">
   <!-- Logo-->
<div class = "col-xs-8">
<h1>Сервіс Обліку Студентів</h1>
</div>

   <!-- Group Selector-->
<div class = "col-xs-4" id = "group-selector" style = "margin-top: 25px">
  <strong>Група:</strong>
  <select>
    <option value = "">Усі Студенти</option>
    {% for group in GROUPS %}
    <option value="{{group.id}}" {% if group.selected %} selected="1"{% endif %}>
    {{group.title}}{% if group.leader %}, {{group.leader}}{% endif %}</option>
    {% endfor %} 
  <select>
</div>
</div>
 <!-- End Header-->

{% block navigation %}
<!-- Start SubHeader-->
<div class = "row" id = "sub-header">
<div class = "col-xs-12">
   <ul class = "nav nav-tabs" role = "tablist">
   {% url 'home' as home %}
   <li role = "presentation"> <a href = "{% url "home" %}"> Студенти </a> </li>
   {% url 'journal' as journal%}
   <li role = "presentation" id = "ajax_journal" data-url="{% url "journal" %}"> 
    <a href = "#">Відвідування </a> </li>
   {% url 'groups' as group %}
   <li role = "presentation" id = "ajax_group" data-url="{% url "groups"%}"> 
   <a href = "{% url "groups" %}"> Групи </a> </li>
   {% url 'exams' as exam %}
   <li role = "presentation"><a href = "{% url 'exams' %}">Іспити</a></li>
   <li role = "presentation">
   <a href="{% url 'contact_admin' %}">Контакт</a>
   </li>
   </ul>
</div>
</div>
<!-- End SubHeader-->
{% endblock navigation %}

<!-- Start Main Page Content-->
<div class = "row" id = "content-columns">
 
    <div class = "col-xs-12" id = "content-column"> 
     <!-- Status Message-->
      {% block status_message %}
      {% if messages %}
         <div class = "alert alert-warning" role = "alert">
         <ul class="messages">
         {% for message in messages %}
         <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
         {% endfor %}
          </ul>
         </div>
      {% else %}
      <div id = "alertModal">Йде збереження...</div> 
      {% endif %}
      {% endblock %}
       
      <h2>{% block title %}{% endblock title %}</h2>
       
      {% block content %}{% endblock content %}

    </div>

</div>
<!-- End Of Start Main Page Content-->

{% block footer %}
<!-- Start Footer-->
<div class = "row" id = "footer">
    <div class = "col-xs-12">
     &copy; 2017 Сервіс Обліку Студентів
    </div>
</div>
<!-- End Footer-->
{% endblock footer %}

<!-- Model Boilerplate -->
<div class="modal" id = "myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLable">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <!--Footer is absent -->
      </div>
    </div>
  </div>
</div>

<!-- Progress bar for student edit -->

<!-- Javascript Inclusions -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>


 {% block extra_js %}{% endblock extra_js %}
</body>
</html>
