{% load static from staticfiles %}
{% load i18n%}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="utf-8">
<title>{% trans "Students Accounting Service " %} - {% block meta_title %}{% endblock meta_title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name = "description"
      value = "{% trans "App to manage students database" %}" />

<!-- Style inclusion -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

{% block extra_css %}{% endblock extra_css %}

</head>

<body>

<!-- Start container-->
<div class = "container">

<!-- Start Header-->
<div class = "row" id = "header">
   <!-- Logo-->
<div class = "col-xs-6">
<h1>{% trans "Students Accounting Service " %}</h1>
</div>
{% if user.is_authenticated %}
   <!-- Group Selector-->
<div class = "col-xs-3" id = "group-selector" style = "margin-top: 25px">
  <strong>{% trans "Group:" %}</strong>
  <select>
    <option value = "">{% trans "All Students" %}</option>
    {% for group in GROUPS %}
    <option value="{{group.id}}" {% if group.selected %} selected="1"{% endif %}>
    {{group.title}}{% if group.leader %}, {{group.leader}}{% endif %}</option>
    {% endfor %} 
  </select>
</div>

<div class = "col-xs-1" style = "margin-top: 25px">
    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#337ab7">
    {% trans "Language" %}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" id="lang_en" href="{% url 'language' %}">{% trans "en" %}</a>
    <a class="dropdown-item" id="lang_uk" href="{% url 'language' %}">{% trans "uk" %}</a>
  </div>
</div>
</div>
<!-- User's toolbar for authenticated users' -->
<div class = "col-xs-2" id="user-toolbar" style = "margin-top: 30px">
   <a href="{% url 'profile' %}">{{user.get_full_name|default:user.username}}</a>
   <a href="{% url 'users:auth_logout' %}">{% trans "Logout" %}</a>
</div>
 {% else %}
<!-- User's toolbar for authenticated users' -->
<div class = "col-xs-6" id="user-toolbar">
    <a href="{% url 'users:auth_login' %}">{% trans "Login" %}</a> |
    <a href="{% url 'users:registration_register' %}">{% trans "Register" %}</a>
</div>
  {% endif %}

</div>
 <!-- End Header-->
{% block navigation %}
<!-- Start SubHeader-->
<div class = "row" id = "sub-header">
<div class = "col-xs-12">
   <ul class = "nav nav-tabs" role = "tablist">
   {% url 'home' as home %}
   <li role = "presentation"> <a href = "{% url "home" %}"> {% trans "Students" %} </a> </li>
   {% if user.is_authenticated %}
   {% url 'journal' as journal%}
   <li role = "presentation" id = "ajax_journal" data-url="{% url "journal" %}"> 
    <a href = "#"> {% trans "Journal" %} </a> </li>
   {% url 'groups' as group %}
   <li role = "presentation" id = "ajax_group" data-url="{% url "groups"%}"> 
   <a href = "{% url "groups" %}"> {% trans "Groups" %} </a> </li>
   {% url 'exams' as exam %}
   <li role = "presentation"><a href = "{% url 'exams' %}">{% trans "Exams" %}</a></li>
   {% endif %}
   {% if perms.auth.add_user %}
   <li role = "presentation">
   <a href="{% url 'contact_admin' %}">{% trans "Contact" %}</a>
   </li>
   {% endif %}
   </ul>
</div>
</div>
<!-- End SubHeader-->
{% endblock navigation %}

<!-- Start Main Page Content-->
<div class = "row" id = "content-columns">
 
    <div class = "col-xs-12" id = "content-column"> 
     <!-- Status Message-->
      {% block status_message %}
      {% if messages %}
         <div class = "alert alert-warning" role = "alert">
         <ul class="messages">
         {% for message in messages %}
         <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
         {% endfor %}
          </ul>
         </div>
      {% else %}
      <div id = "alertModal">{% trans "Saving..." %}</div> 
      {% endif %}
      {% endblock %}
       
      <h2>{% block title %}{% endblock title %}</h2>
       
      {% block content %}{% endblock content %}

    </div>

</div>
<!-- End Of Start Main Page Content-->

{% block footer %}
<!-- Start Footer-->
<div class = "row" id = "footer">
    <div class = "col-xs-12">
     &copy; 2017 {% trans "Students Accounting Service" %}
    </div>
</div>
<!-- End Footer-->
{% endblock footer %}

<!-- Model Boilerplate -->
<div class="modal" id = "myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLable">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <!--Footer is absent -->
      </div>
    </div>
  </div>
</div>

<!-- Progress bar for student edit -->

<!-- Javascript Inclusions -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="{% url 'javascript-catalog'%}"></script>
<script src="{% static 'js/main.js' %}"></script>


 {% block extra_js %}{% endblock extra_js %}
</body>
</html>
