{% extends "students/base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Групи{% endblock meta_title %}
{% block title %}Групи{% endblock title %}

{% block content %}
{% url 'group' as grup %}
<!-- Add Student Button -->
      <a style = "color: white; background-color: steelblue"  
      class = "btn btn - primary" href = {% url "groups_add" %}> Додати Групу </a>
      
      <div>
           <!-- Start Student Listing -->
           <table class="table table-hover table-striped">
           {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
              <thead>
                 <tr>
                   <th>#</th>
                   <th><a href = "{% url 'groups' %}?reverse=1{% if reverse == '1'%}reverse=0{%endif%}">Назва
                   {% if reverse == '1' and order_by == '' %}&darr;
                   {% elif order_by == '' %} &uarr;{% endif %}
                   </a></th>
                   <th><a href = "{% url 'groups' %}?order_by=leader{% if order_by == 'leader' and reverse != '1' %}&reverse=1{% endif%}">Староста
                   {% if order_by == 'leader' and reverse == '1' %}&darr;
                   {% elif order_by == 'leader' %}&uarr;{% endif %}
                   </a></th>
                   <th>Нотатки</th> 
                   <th>Дії</th>   
                 </tr>
              </thead>
            {% endwith %}
                <tbody>
                {% for group in groups.groups %}
                 <tr>
                   <td>{% if groups.is_paginated %}
                       {{ groups.page_obj.start_index|add:forloop.counter|add:"-1"}}
                       {% else %}
                       {{ forloop.counter }}
                       {% endif %}</td>
                   <td> <a href = "{%url "groups_edit" group.id %}">{{ group.title }}</a></td>
                   <td> <a href = "{%url "groups_edit" group.id %}">{{ group.leader }}</a></td>
                   <td>{{ group.note }}</td>
                   <td>
                   <div class="dropdown">
   <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Дія
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role = "menu">
    <li role = "presentation"> <a role = "menuitem" tabindex="-1" href="/journal/{{ group.id }}">Відвідування</a></li>
    <li role = "presentation"> <a role = "menuitem" tabindex="-1" href="{%url "groups_edit" group.id %}">Редагувати</a></li>
    <li role = "presentation"> <a role = "menuitem" tabindex="-1" href="{%url "groups_delete" group.id %}">Видалити</a></li>
  </ul>
</div>
                   </td>
                   </tr>
              
              {% endfor %} 
              </tbody>

           </table>
 
{% with object_list=groups.groups is_paginated=groups.is_paginated paginator=groups.paginator %}
    {% include "students/pagination.html" %}
{% endwith %}               
 

      </div>
{% endblock content %}



