/*Global Syles*/

h1,h2,h3,h4,h5,h6{
font-weight: bold;
}

.alert{
margin-top: 10px;
}

#footer{
border-top: 1px solid #ddd;
padding-top: 10px;
}

/*Group Selector*/

#group-selector{
margin-top: 30px;
}

#group-selector select{
margin: 0;
width: 85%;
background-color: #ffffff;
border: 1px solid #cccccc;
height: 30px;
line-height: 30px;
color: #555555;
}

table th{
text-align: center;
color: green;
}
.name{
color: SteelBlue;

}

/* Journal Table Styles */
td.day-box,
th.day-header{
padding: 4px !important;
vertical-align: middle !important;
text-align: center;
}

