/* Form styles */
textarea,
select,
input {
max-width: 300px;
}
/* Journal Table Styles */
td.day-box,
th.day-header{
padding: 4px !important;
vertical-align: middle !important;
text-align: center;
}

#ajax-progress-indicator{
display: none;
}
